{% load staticfiles %}
{% load hotel_tag %}
<link href="{% static 'flexslider/flexslider.css' %}" type="text/css" media="screen" rel="stylesheet"/>	
<script defer src="{% static 'flexslider/jquery.flexslider.js' %}"></script>
<link href="{% static  'css/detail.css' %}" rel="stylesheet">

<div id="popup_page">
	<div id="popup_header">
		<div id="popup_hotel_wraper">
			<span class="popup_hotel_name">{{hotel.name}}</span>
			</br>
			<span class="popup_hotel_location">{{hotel.address}}</span>
		</div>
		<div id="popup_hotel_price_book_wraper">
			<div id="popup_hotel_price_wrapper">
				<span class="popup_hotel_price">{{ hotel|get_hotel_lowest_price:request.GET.date_start  }}</span>
				<span class="popup_hotel_currency">{{hotel.currency}}</span>
				<div class="popup_hotel_detail_rating">
					<span class="popup_hotel_detail_rating_with">with</span>
					<span class="hotel_detail_rating">
						{{hotel|get_hotel_user_rating:hotel.user_rating}}
					</span>
					<div class="rating_symbol"></div>	
				</div>
			</div>
			<div id="popup_hotel_booking">
				<button class="btn_book"><a href="{{hotel|get_book_link }}">Book</a></button>
			</div>
		</div>
	</div>
	<div id="popup_header_extra">
		<div class="popup_hotel_star hotel_star hotel_{{hotel.star_rating}}star"/>
		<span class="popup_hotel_star_detail">{{hotel.star_rating}} star hotel</span>
	</div>
	<div id="popup_body">
		<ul id="popup_tab" class="nav nav-tabs">
		  <li class="active">
		  	<a href="#popup_home" data-toggle="tab">Overview</a>
		  </li>
		  <li>
		  	<a href="#popup_photo" data-toggle="tab">Photo Gallery</a>
		  </li>
		  <li>
		  	<a href="#popup_room" data-toggle="tab">Room</a>
		  </li>
		</ul>
		<div id="popup_tab_content" class="tab-content">
			<div class="tab-pane fade  active in" id="popup_home">
				<div id="popup_hotel_breakline"></div>
				<div id="popup_hotel_overview">
					<div id="popup_hotel_description">
						<span class="popup_content_heading">Hotel Description</span>
						<span class="popup_span_hotel_description">{{hotel.description}}</span>
						
					</div>
					<div id="popup_hotel_service">
						<span class="popup_content_heading">Service</span>
						<div class="popup_service_content">
							{% for service in hotel.service|separate_hotel_service%}
								<div class="col-lg-3 col-md-4 col-xs-6 popup_service_content_wrap">
									<span class="popup_service_content_span">{{service}}</span>
								</div>
							{%endfor%}
							
						</div>
						
						
					</div>
				</div>
			</div>
			<div class="tab-pane fade" id="popup_photo">
				<div id="popup_hotel_photo">
					<div id="slider" class="flexslider">
						<ul class="slides" style="width: 200%;">
							{% for image  in hotel.image_hotel_set.all %}
							<li>
								<img src="{{image.src}}" />
							</li>
							{% endfor %}
						</ul>
					</div>
					<div id="carousel" class="flexslider">
						<ul class="slides">
							{% for image  in hotel.image_hotel_set.all %}
							<li class="popup_photo_slider_li">
								<img src="{{image.src}}" />
							</li>
							{% endfor %}
						</ul>
					</div>
				</div>
			</div>
			<div class="tab-pane fade" id="popup_room">
				<div id="room_content_wrap">
					<table class="room_content_table">
						<tr class="header_room_info">
							<td class="header_room_content">
								<span class="header_room_content_span">Room Types</span>
							</td>
							<td class="header_room_content_max_people">
								<span class="header_room_content_span">Number of people</span>
							</td>
							<td class="header_room_content_price">
								<span class="header_room_content_span">Price</span>
							</td>
						</tr>
						{% for room  in hotel.room_set.all %}
						
						<tr class="room_detail_wrap">
							<td class="room_detail_name">
								<span class="room_detail_name_span">{{room.name}}</span>
								<div id="room_detail_image">
									{% for image  in room.image_hotel_set.all %}
										<img src="{{image.src}}" style="height:120px;width:160px;" />
									{% endfor %}
								</div>
							</td>
							<td class="room_detail_max_people">
								<span class="room_detail_max_people_span">{{room.number_of_people}}</span>
							</td>
							<td class="room_detail_price">
								<span class="room_detail_price_span">
										
										{{ room|get_room_price:request.GET.date_start  }}
									

								</span>
								<span class="room_detail_currency_span">{{hotel.currency}}</span>
							</td>
							
						</tr>
					
					{% endfor %}
					</table>
					
				</div>
				
			</div>
		</div>
	</div>
	
	
</div>
