{% load staticfiles %}
{% load hotel_tag %}
<!--Popup -->
    <link href="{% static 'css/popup.css' %}" rel="stylesheet">
<!--Popup JS-->
    <script src="{% static 'js/bootstrap_tab.js' %}"></script>
     <script src="{% static 'js/popup.js' %}"></script>
	<div id="result_view_count">
					<!-- Line info about result -->
		
		<div id="result_count">
			<span class="hotel_display_count">{{data|length}} of {{count_hotel}} hotels</span>
			<span class="hotel_display_location">in Ho Chi Minh city</span>
		</div>
	</div>
	<!-- Grid hotel details -->
	<div id="hotel_detail">
		<div id="hotel_container">
			<!--Hotel detail item -->
			{% for hotel in data %}
			<div class="col-lg-3 col-md-4 col-xs-6 hotel_detail_item">
			    <div id="hotel_content_front">
					<div id="hotel_detail_photo_wrapper">
						<div id="hotel_detail_photo">
							<a class="thumbnail topopup" href="{{hotel.id}}?date_start={{date_start}}" ><img class="img-responsive" src="{{hotel|get_hotel_main_image}}"></a>
						</div>
					</div>
					<div class="hotel_detail_name_star_location">
						<div id="hotel_detail_name">
							<a href="{{hotel.id}}?date_start={{date_start}}" class="topopup">{{hotel.name|truncatechars:28}} </a>
						</div>
						<div>
							<div class="hotel_star hotel_{{hotel.star_rating}}star">
						</div> 
						</div>
						<div class="hotel_detail_location_wrapper">
							<span class="hotel_detail_location">
								{{hotel.address|truncatechars:55}}
							</span>
						</div>
					</div>
					<div class="hotel_price_rating">
						<div class="hotel_price_wrapper">
							<span class="hotel_detail_price">{{ hotel|get_hotel_lowest_price:request.GET.check_in  }}</span>
							<span class="hotel_detail_currency">{{hotel.currency}}</span>
						</div>
						<div class="hotel_detail_rating_wrapper">
							<span class="hotel_detail_rating_with">with</span>
							<div class="hotel_detail_rating">
								<span class="hotel_detail_rating">{{hotel.user_rating}}</span>
								<div class="rating_symbol"></div>	
							</div>
						</div>
					</div>

			    </div>
			</div>
			{% endfor %}
			
		</div>
	</div>
	<!--Paging start -->
	<div class="pagination">
	    <span class="step-links">
	    	
	        {% if data.has_previous %}
	        	<b><a href="javascript:changeResultPage('{{request.path}}?{{ request.GET.urlencode }}',  {{data.previous_page_number}}, '{{ csrf_token }}' )">previous</a></b>
	            <!-- <b><a href="?{{ request.GET.urlencode }}&page={{ data.previous_page_number }}">previous</a></b> -->
	        {% endif %}
	
	        <span class="current">
	            (Page {{ data.number }} of {{ data.paginator.num_pages }}.)
	        </span>
	
	        {% if data.has_next %}
	        	<b><a href="javascript:changeResultPage('{{request.path}}?{{ request.GET.urlencode }}',  {{data.next_page_number}}, '{{ csrf_token }}' )">next</a></b>
	            <!-- <b><a href="?{{ request.GET.urlencode }}&page={{ data.next_page_number }}">next</a></b> -->
	        {% endif %}
	    </span>
	</div>
	<!--Paging end -->


		
